@use '../../shared/dialogs/common' as *;

:host {
  display: block;
  overflow-x: hidden;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}
