<div class="login-container">

  <div class="page-status">
    @if (error) {
      <mat-card class="status-card status-error">
        <mat-card-content>
          {{ error }}
        </mat-card-content>
      </mat-card>
    }
  </div>

  <form #formEl [formGroup]="form" (ngSubmit)="submit()" class="login-form">
    <h2>{{ 'auth.login.title' | translate }}</h2>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'auth.login.label.email' | translate }}</mat-label>

      <input matInput type="email" formControlName="email"/>

      @if ( shouldShowError(emailCtrl, submitAttempted) ) {
        <mat-error>
          @if (emailCtrl.hasError('required')) {
            <span>{{ 'auth.login.validation.emailRequired' | translate }}</span>
          }
          @if (emailCtrl.hasError('email')) {
            <span>{{ 'auth.login.validation.emailInvalid' | translate }}</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'auth.login.label.password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password"/>

      @if ( shouldShowError(passwordCtrl, submitAttempted) ) {
        <mat-error>
          {{ 'auth.login.validation.passwordRequired' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <button matButton="outlined" color="primary" [disabled]="loading" type="submit">
      {{ 'auth.login.action.submit' | translate }}
    </button>
  </form>
</div>
