<div class="login-container">

  <div class="page-status">
    @if (error) {
      <mat-card class="status-card status-error">
        <mat-card-content>
          {{ error }}
        </mat-card-content>
      </mat-card>
    }
  </div>

  <form #formEl [formGroup]="form" (ngSubmit)="submit()" class="login-form">
    <h2>Login</h2>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input matInput type="email" formControlName="email"/>

      @if (emailCtrl.invalid && (emailCtrl.touched || submitAttempted)) {
        <mat-error>
          @if (emailCtrl.hasError('required')) {
            <span>Email is required.</span>
          }
          @if (emailCtrl.hasError('email')) {
            <span>Please enter a valid email address.</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input matInput type="password" formControlName="password"/>

      @if (passwordCtrl.invalid && (passwordCtrl.touched || submitAttempted)) {
        <mat-error>
          Password is required.
        </mat-error>
      }
    </mat-form-field>

    <button matButton="outlined" color="primary" [disabled]="loading" type="submit">
      Login
    </button>
  </form>
</div>
